<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body  ng-app='ItemSearchModule'>
   <div class="container"
    ng-controller='ItemSearchController as searchCtl'>

    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <table>
      <tr>
        <td>
          <div class="form-group">
            <input ng-model="searchCtl.searchStr" type="text" placeholder="search term" class="form-control">
          </div>
        </td>
        <td>
          <div class="form-group narrow-button">
            <button ng-click="searchCtl.getFoundItems()" class="btn btn-primary">Narrow It Down For Me!</button>
          </div>
        </td>
      </tr>
    </table>

    <!-- Present the list of found items -->
    <div class="form-group" >
      <h3>{{searchCtl.message}}</h3>
      <div>
          <table>
            <tr ng-repeat="item in searchCtl.foundItems">
                <td>
                  <button ng-click="searchCtl.onRemove($index)">Don't want this one</button>
                </td>
                <td>
                   {{item.name}}, {{item.short_name}}, {{item.description}}
                </td>
            </tr>
        </table>
      </div>
    </div>

    <!-- found-items should be implemented as a component -->
<!--
    <found-items
      message="searchCtl.message"

      found-items="searchCtl.foundItems"
      on-remove="searchCtl.onRemove(index)"

      >
  </found-items>
-->
  </div>

</body>
</html>
