body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.active {
  font-weight: bold;
}

tr[ui-sref]:hover {
  cursor:pointer;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor:pointer;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
}

.heading {
  border:1pt solid black;
  color: red;
  font-weight: bold;
}
.itemList {
  border:1pt solid black;
}

tr td {
  border-bottom:1pt solid black;
}
